---
import MainMenuSearchButton from "./main-menu-search-button.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
console.log(currentPath);

import webMenu from "../../data/web-menu.json";
---

<div id="mobile-menu" class="sidemenu sidemenu-off tf_scrollbar">
  <div class="navbar-wrapper tf_clearfix">
      <MainMenuSearchButton />
      <nav id="main-nav-wrap" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
          <ul id="main-nav" class="main-nav tf_clearfix tf_box">
            {webMenu.list.map((menu,index)=>{
                const slug = menu.title.toLocaleLowerCase()
                const menuCls='menu-item menu-item-type-post_type menu-item-object-page '
                const activeMenuCls = `current-menu-item current_page_item menu-item menu-item-type-post_type menu-item-object-page`
                const selectedCls = pathname == menu.path ? activeMenuCls:menuCls
             return (<li key={index} class={`menu-item-page-${index}  menu-item-${slug} menu-item-${index} ${selectedCls}`}>
                  <a href={menu.path}>{menu.title}</a>
              </li>)
            })}
             
          </ul>
      </nav>
      <!-- /#main-nav-wrap -->
  </div>

  <a id="menu-icon-close" aria-label="Close menu" class="tf_close tf_hide" href="#"><span
          class="screen-reader-text">Close Menu</span></a>
</div><!-- #mobile-menu -->
<!-- /#mobile-menu -->