---
import FooterBrand from "../blocks/footer-brand.astro";
import FooterContactPersonListWithCompanyEmail from "../blocks/footer-contact-person-list-with-company-email.astro";
import FooterFullCompanyAddress from "../blocks/footer-full-company-address.astro";
import FooterSocialNetButtons from "../blocks/footer-social-net-buttons.astro";

const {company,cp} = Astro.props;
---
<div id="footerwrap" class="tf_box tf_clear">
    <footer
      id="footer"
      class="tf_box pagewidth tf_scrollbar tf_rel tf_clearfix"
      itemscope="itemscope"
      itemtype="https://schema.org/WPFooter"
    >
      <div
        class="back-top tf_textc tf_clearfix back-top-float back-top-hide"
      >
        <div class="arrow-up-none">
          <a aria-label="Back to top" href="#header">
          <em><svg aria-label="" role="img" class="tf_fa bi-double-chevron">
                          <use href="#bi-double-chevron"></use>
                      </svg></em>
          <span class="screen-reader-text">Back To Top</span></a
          >
        </div>
      </div>
      <div class="main-col first tf_clearfix">
        <div class="footer-left-wrap first">
          <FooterBrand company={company}/>

          <FooterSocialNetButtons company={company}/>
        </div>

        <div class="footer-right-wrap">
          <div class="footer-nav-wrap"></div>
          <!-- /.footer-nav-wrap -->
        </div>
      </div>

      <div class="section-col tf_clearfix">
        <div class="footer-widgets-wrap">
          <div class="footer-widgets tf_clearfix">
            <FooterFullCompanyAddress address={company.address}/>
            <FooterContactPersonListWithCompanyEmail cp={cp} email={company.email}/>
          </div>
          <!-- /.footer-widgets -->

          <!-- /footer-widgets -->
        </div>
      </div>
      
      <!-- /.footer-text -->
    </footer><!-- /#footer -->
  </div><!-- /#footerwrap -->

  <div id="copyright-footer" >
    <div class="inside pagewidth ">
        <div class="footer-text-inner">
          <div class="one">
            2024 © Copyright, Pondok Pesantren Kanzul Ulum Cirebon. All Rights Reserved.
          </div>
        </div>
      </div>
  </div>