---
import MainCompanyBanner from "../blocks/main-company-banner.astro";
import MainBreadcrumb from "../blocks/main-breadcrumb.astro";
// import ShortCompanyProfile from "../blocks/short-company-profile.astro";
// import VisiMisi from "../blocks/visi-misi.astro";
const breadcrumbs = [
	{ title: "Home", path: "/" },
	{ title: "Kontak", path: "/kontak" },
];
const { contact, company, cp } = Astro.props;
const googleMapUrl =
	"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.2463877972823!2d108.52094287410388!3d-6.739770265898805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f1d8f74854531%3A0xeddea69b5600ba54!2sYayasan%20Kanzul%20Ulum%20Kota%20Cirebon!5e0!3m2!1sen!2sid!4v1716387693033!5m2!1sen!2sid";
---
<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">

    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
        <!-- content -->
        <main id="content" class="tf_box tf_clearfix">
            <div id="page-71" class="type-page">
                <div class="page-content entry-content">
                    <!--themify_builder_content-->
                    <div id="themify_builder_content-71" data-postid="71"
                        class="themify_builder_content themify_builder_content-71 themify_builder tf_clear">
                        <MainCompanyBanner/>
                        <MainBreadcrumb breadcrumbs={breadcrumbs}/>
                        <!-- module_row -->
                        <div data-lazy="1"
                            class="module_row themify_builder_row repeat tb_35iz104 tf_clearfix hide-desktop">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel">
                                <div data-lazy="1"
                                    class="module_column tb-column col-full first tb_b6ms105 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_foyr113 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h5><b>Hubungi Kami</b></h5>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                        <!-- module_row -->
                        <div data-lazy="1"
                            class="module_row themify_builder_row repeat tb_d99y564 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel" data-basecol="2"
                                data-col_tablet="column-full" data-col_tablet_landscape="column-full"
                                data-col_mobile="column-full">
                                <div data-lazy="1" style="width: 32.27%"
                                    class="module_column tb-column col4-2 first tb_ufzj566 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <div data-lazy="1"
                                            class="module_subrow themify_builder_sub_row tb_ppoc568 tf_w tf_clearfix">
                                            <div class="subrow_inner col_align_top tf_box tf_w" data-basecol="1"
                                                data-col_tablet="column-full"
                                                data-col_tablet_landscape="column-full"
                                                data-col_mobile="column-full">
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col-full first tb_8m5j569">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module plain text -->
                                                        <div class="module module-plain-text tb_4v80571  hide-tablet hide-tablet_landscape hide-mobile"
                                                            data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <h4><b>Hubungi Kami</b></h4>
                                                            </div>
                                                        </div>
                                                        <!-- /module plain text --><!-- module plain text -->
                                                        <div class="module module-plain-text tb_da02572 "
                                                            data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <h6><b>Alamat :</b></h6>
                                                                <div
                                                                    style="background: url('/assets/images/icon-office.png') no-repeat 0 5px; padding: 5px 0 0 30px;">
                                                                    {company.address}</div>

                                                                <hr
                                                                    style="width: 1%; height: 10px; border-radius: 7px; border: 0px; text-align: center; margin-left: 0; background: ;" />

                                                                <h6><b>Kontak :</b></h6>
                                                                {cp.map((item, index) => (
                                                                    <div key={index}
                                                                    style="background: url('/assets/images/icon-whatsapp.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
                                                                  >
                                                                    {item.phone} ({item.name})
                                                                  </div>
                                                                  ))}
                                                                

                                                                <div
                                                                    style="background: url('/assets/images/icon-email.png') no-repeat 0 5px; padding: 5px 0 0 30px;">
                                                                    {company.email}</div>
                                                            </div>
                                                        </div>
                                                        <!-- /module plain text -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /themify_builder_sub_row -->
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_g58x576 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <iframe
                                                    src={googleMapUrl}
                                                    width="600" height="100" style="border:0;"
                                                    allowfullscreen="" loading="lazy"></iframe>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                                <div data-lazy="1" style="width: 64.53%"
                                    class="module_column tb-column col4-2 last tb_ltoz577 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_yxha578 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <div role="form" class="wpcf7" id="wpcf7-f5-p70-o1" lang="id-ID"
                                                    dir="ltr">
                                                    <div class="screen-reader-response">
                                                        <p role="status" aria-live="polite" aria-atomic="true">
                                                        </p>
                                                        <ul></ul>
                                                    </div>
                                                    <form
                                                        action="/api/contact/#wpcf7-f5-p70-o1"
                                                        method="post" class="wpcf7-form init"
                                                        novalidate="novalidate" data-status="init">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="5" />
                                                            <input type="hidden" name="_wpcf7_version"
                                                                value="5.4.2" />
                                                            <input type="hidden" name="_wpcf7_locale"
                                                                value="id_ID" />
                                                            <input type="hidden" name="_wpcf7_unit_tag"
                                                                value="wpcf7-f5-p70-o1" />
                                                            <input type="hidden" name="_wpcf7_container_post"
                                                                value="70" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                value="" />
                                                        </div>
                                                        <p class="column one-second"><span
                                                                class="wpcf7-form-control-wrap your-name"><input
                                                                    type="text" name="your-name" value=""
                                                                    size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Nama Anda" /></span> </p>
                                                        <p class="column one-second"><span
                                                                class="wpcf7-form-control-wrap your-email"><input
                                                                    type="email" name="your-email" value=""
                                                                    size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="E-mail" /></span> </p>
                                                        <p class="column one"><span
                                                                class="wpcf7-form-control-wrap telpon"><input
                                                                    type="text" name="telpon" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Nomor Hp" /></span> </p>
                                                        <p class="column one"><span
                                                                class="wpcf7-form-control-wrap your-message"><textarea
                                                                    name="your-message" cols="40" rows="10"
                                                                    class="wpcf7-form-control wpcf7-textarea"
                                                                    aria-invalid="false"
                                                                    placeholder="Pesan"></textarea></span></p>
                                                        <p class="column one"><input type="submit"
                                                                value="Kirim E-mail"
                                                                class="wpcf7-form-control wpcf7-submit button_full_width" />
                                                        </p>
                                                        <div class="wpcf7-response-output" aria-hidden="true">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                        <!-- module_row -->
                        <div data-lazy="1"
                            class="module_row themify_builder_row repeat tb_t98z111 tf_clearfix hide-desktop">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel" data-basecol="2"
                                data-col_tablet="column-full" data-col_tablet_landscape="column-full"
                                data-col_mobile="column-full">
                                <div data-lazy="1" style="width: 32.27%"
                                    class="module_column tb-column col4-2 first tb_o4qy112 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <div data-lazy="1"
                                            class="module_subrow themify_builder_sub_row tb_8nxc112 tf_w tf_clearfix">
                                            <div class="subrow_inner col_align_top tf_box tf_w" data-basecol="2"
                                                data-col_tablet="column-full"
                                                data-col_tablet_landscape="column-full"
                                                data-col_mobile="column-full">
                                                <div style="width: 79.3%" data-lazy="1"
                                                    class="sub_column module_column tf_box col2-1 first tb_hov9113">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module plain text -->
                                                        <div class="module module-plain-text tb_5phs113 "
                                                            data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <h6><b>Alamat :</b></h6>
                                                                <div
                                                                    style="background: url('/assets/images/icon-office.png') no-repeat 0 5px; padding: 5px 0 0 30px;">
                                                                    {company.address}</div>

                                                                <hr
                                                                    style="width: 1%; height: 10px; border-radius: 7px; border: 0px; text-align: center; margin-left: 0; background: ;" />

                                                                <h6><b>Kontak :</b></h6>
                                                                {cp.map((item, index) => (
                                                                    <div key={index}
                                                                    style="background: url('/assets/images/icon-whatsapp.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
                                                                  >
                                                                    {item.phone} ({item.name})
                                                                  </div>
                                                                  ))}


                                                                <div
                                                                    style="background: url('/assets/images/icon-email.png') no-repeat 0 5px; padding: 5px 0 0 30px;">
                                                                    {company.email}</div>
                                                            </div>
                                                        </div>
                                                        <!-- /module plain text -->
                                                    </div>
                                                </div>
                                                <div style="width: 17.5%" data-lazy="1"
                                                    class="sub_column module_column tf_box col2-1 last tb_xlmd114">
                                                </div>
                                            </div>
                                        </div><!-- /themify_builder_sub_row -->
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_yr0w115 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <iframe
                                                    src={googleMapUrl}
                                                    width="600" height="100" style="border:0;"
                                                    allowfullscreen="" loading="lazy"></iframe>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                                <div data-lazy="1" style="width: 64.53%"
                                    class="module_column tb-column col4-2 last tb_qh3l115 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_35oc116 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <div role="form" class="wpcf7" id="wpcf7-f5-p70-o2" lang="id-ID"
                                                    dir="ltr">
                                                    <div class="screen-reader-response">
                                                        <p role="status" aria-live="polite" aria-atomic="true">
                                                        </p>
                                                        <ul></ul>
                                                    </div>
                                                    <form
                                                        action="/api/contact/#wpcf7-f5-p70-o2"
                                                        method="post" class="wpcf7-form init"
                                                        novalidate="novalidate" data-status="init">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="5" />
                                                            <input type="hidden" name="_wpcf7_version"
                                                                value="5.4.2" />
                                                            <input type="hidden" name="_wpcf7_locale"
                                                                value="id_ID" />
                                                            <input type="hidden" name="_wpcf7_unit_tag"
                                                                value="wpcf7-f5-p70-o2" />
                                                            <input type="hidden" name="_wpcf7_container_post"
                                                                value="70" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                value="" />
                                                        </div>
                                                        <p class="column one-second"><span
                                                                class="wpcf7-form-control-wrap your-name"><input
                                                                    type="text" name="your-name" value=""
                                                                    size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Nama Anda" /></span> </p>
                                                        <p class="column one-second"><span
                                                                class="wpcf7-form-control-wrap your-email"><input
                                                                    type="email" name="your-email" value=""
                                                                    size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="E-mail" /></span> </p>
                                                        <p class="column one"><span
                                                                class="wpcf7-form-control-wrap telpon"><input
                                                                    type="text" name="telpon" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Nomor Hp" /></span> </p>
                                                        <p class="column one"><span
                                                                class="wpcf7-form-control-wrap your-message"><textarea
                                                                    name="your-message" cols="40" rows="10"
                                                                    class="wpcf7-form-control wpcf7-textarea"
                                                                    aria-invalid="false"
                                                                    placeholder="Pesan"></textarea></span></p>
                                                        <p class="column one"><input type="submit"
                                                                value="Kirim E-mail"
                                                                class="wpcf7-form-control wpcf7-submit button_full_width" />
                                                        </p>
                                                        <div class="wpcf7-response-output" aria-hidden="true">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                    </div>
                    <!--/themify_builder_content-->
                    <!-- /comments -->
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.type-page -->
        </main>
        <!-- /content -->
    </div>
    <!-- /layout-container -->
</div><!-- /body -->