---
import MainCompanyBanner from "../blocks/main-company-banner.astro";
import MainBreadcrumb from "../blocks/main-breadcrumb.astro";
import Heading_HideDesktop from "../blocks/kontak/mobile/heading.astro";
import HubungiKami_HideDesktop from "../blocks/kontak/mobile/hubungi-kami.astro";
import HubungiKami from "../blocks/kontak/hubungi-kami.astro";
// import ShortCompanyProfile from "../blocks/short-company-profile.astro";
// import VisiMisi from "../blocks/visi-misi.astro";
const breadcrumbs = [
	{ title: "Home", path: "/" },
	{ title: "Kontak", path: "/kontak" },
];
const { contact, company, cp } = Astro.props;
const googleMapUrl =
	"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.2463877972823!2d108.52094287410388!3d-6.739770265898805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f1d8f74854531%3A0xeddea69b5600ba54!2sYayasan%20Kanzul%20Ulum%20Kota%20Cirebon!5e0!3m2!1sen!2sid!4v1716387693033!5m2!1sen!2sid";
---
<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">

    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
        <!-- content -->
        <main id="content" class="tf_box tf_clearfix">
            <div id="page-71" class="type-page">
                <div class="page-content entry-content">
                    <!--themify_builder_content-->
                    <div id="themify_builder_content-71" data-postid="71"
                        class="themify_builder_content themify_builder_content-71 themify_builder tf_clear">
                        <MainCompanyBanner/>
                        <MainBreadcrumb breadcrumbs={breadcrumbs}/>
                        <Heading_HideDesktop/>
                        <HubungiKami company={company} cp={cp} googleMapUrl={googleMapUrl}/>
                        <HubungiKami_HideDesktop company={company} cp={cp} googleMapUrl={googleMapUrl}/>
                        
                    </div>
                    <!--/themify_builder_content-->
                    <!-- /comments -->
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.type-page -->
        </main>
        <!-- /content -->
    </div>
    <!-- /layout-container -->
</div><!-- /body -->