---
const {company} = Astro.props;
---
<div id="headerwrap" class="tf_box tf_w">
    <div class="header-widget-full tf_clearfix">
      <div class="header-widget tf_clear tf_clearfix">
        <div class="header-widget-inner tf_scrollbar tf_clearfix">
          <div class="col4-2 first tf_box tf_float">
            <div id="text-1004" class="widget widget_text">
              <div class="textwidget">
                <hr
                  style="width: 1%; height: 1px; border-radius: 7px; border: 0px; text-align: center; margin-left: 0; background: ;"
                />
                <p>
                  <b>{company.shortAddress}</b>
                </p>
              </div>
            </div>
          </div>
          <div class="col4-2 tf_box tf_float">
            <div
              id="themify-social-links-1010"
              class="widget themify-social-links"
            >
              <ul class="social-links horizontal">
                <li class="social-link-item font-icon icon-medium">
                  <a href="#" aria-label="" target="_blank" rel="noopener"
                    ><em
                      ><svg
                        aria-label=""
                        role="img"
                        class="tf_fa tf-fab-instagram-square"
                        ><use href="#tf-fab-instagram-square"></use></svg
                      ></em
                    >
                  </a>
                </li>
                <!-- /themify-link-item -->
                <li class="social-link-item font-icon icon-medium">
                  <a href="#" aria-label="" target="_blank" rel="noopener"
                    ><em
                      ><svg
                        aria-label=""
                        role="img"
                        class="tf_fa tf-fab-facebook-square"
                        ><use href="#tf-fab-facebook-square"></use></svg
                      ></em
                    >
                  </a>
                </li>
                <!-- /themify-link-item -->
                <li class="social-link-item font-icon icon-medium">
                  <a href="#" aria-label="" target="_blank" rel="noopener"
                    ><em
                      ><svg
                        aria-label=""
                        role="img"
                        class="tf_fa tf-fab-twitter-square"
                        ><use href="#tf-fab-twitter-square"></use></svg
                      ></em
                    >
                  </a>
                </li>
                <!-- /themify-link-item -->
                <li class="social-link-item font-icon icon-medium">
                  <a href="#" aria-label="" target="_blank" rel="noopener"
                    ><em
                      ><svg
                        aria-label=""
                        role="img"
                        class="tf_fa tf-fab-youtube-square"
                        ><use href="#tf-fab-youtube-square"></use></svg
                      ></em
                    >
                  </a>
                </li>
                <!-- /themify-link-item -->
              </ul>
            </div>
          </div>
        </div>
        <!-- /.header-widget-inner -->
      </div>
      <!-- /.header-widget -->
    </div>
    <!-- /header-widgets -->
    <div class="header-icons tf_hide">
      <a
        id="menu-icon"
        class="tf_inline_b tf_text_dec"
        href="#mobile-menu"
        aria-label="Menu"
        ><span class="menu-icon-inner tf_inline_b tf_vmiddle tf_overflow"
        ></span><span class="screen-reader-text">Menu</span></a
      >
    </div>

    <header
      id="header"
      class="tf_box pagewidth tf_clearfix"
      itemscope="itemscope"
      itemtype="https://schema.org/WPHeader"
    >
      <div class="header-bar tf_box">
        <div id="site-logo">
          <a href="/" title={company.name}
            ><img
              src="/company-logo.png"
              alt={company.name}
              title="ponpes kanzul ulum logo"
              width=""
              height=""
              class="site-logo-image"
            /></a
          >
        </div><div id="site-description" class="site-description">
          <span>Pengurus {company.shortAddress}</span>
        </div>
      </div>
      <!-- /.header-bar -->

      <div id="mobile-menu" class="sidemenu sidemenu-off tf_scrollbar">
        <div class="navbar-wrapper tf_clearfix">
          <a class="search-button tf_vmiddle tf_inline_b" href="#"
            ><svg aria-label="Search" role="img" class="tf_fa tf-fas-search"
              ><use href="#tf-fas-search"></use></svg
            ><span class="screen-reader-text">Search</span></a
          >
          <nav
            id="main-nav-wrap"
            itemscope="itemscope"
            itemtype="https://schema.org/SiteNavigationElement"
          >
            <ul id="main-nav" class="main-nav tf_clearfix tf_box">
              <li
                class="current-menu-item menu-item-page-71 current_page_item menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-129"
              >
                <a href="/">Home</a>
              </li>
              <li
                class="menu-item-page-67 menu-item menu-item-type-post_type menu-item-object-page menu-item-135"
              >
                <a
                  href="/profil"
                  >Profil</a
                >
              </li>
              <li
                class="menu-item-page-37 menu-item menu-item-type-post_type menu-item-object-page menu-item-145"
              >
                <a
                  href="/lembaga"
                  >Lembaga</a
                >
              </li>
              <li
                class="menu-item-page-38 menu-item menu-item-type-post_type menu-item-object-page menu-item-132"
              >
                <a
                  href="/kegiatan"
                  >Kegiatan</a
                >
              </li>
              <li
                class="menu-item-page-40 menu-item menu-item-type-post_type menu-item-object-page menu-item-134"
              >
                <a
                  href="/pendaftaran"
                  >Pendaftaran</a
                >
              </li>
              <li
                class="menu-item-page-2 menu-item menu-item-type-post_type menu-item-object-page menu-item-131"
              >
                <a
                  href="/galeri"
                  >Galeri</a
                >
              </li>
              <li
                class="menu-item-page-39 menu-item menu-item-type-post_type menu-item-object-page menu-item-130"
              >
                <a
                  href="/berita"
                  >Berita</a
                >
              </li>
              <li
                class="menu-item-page-70 menu-item menu-item-type-post_type menu-item-object-page page_item page-item-70 menu-item-133"
              >
                <a
                  href="/kontak"
                  >Kontak</a
                >
              </li>
            </ul>
          </nav>
          <!-- /#main-nav-wrap -->
        </div>

        <a
          id="menu-icon-close"
          aria-label="Close menu"
          class="tf_close tf_hide"
          href="#"><span class="screen-reader-text">Close Menu</span></a
        >
      </div><!-- #mobile-menu -->
      <!-- /#mobile-menu -->
    </header>
    <!-- /#header -->
  </div>
  <!-- /#headerwrap -->